<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Respuesta del Asistente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Respuesta del Asistente</h1>
        <p><strong>Tu Pregunta:</strong> {{ question }}</p>
        <p><strong>Respuesta:</strong> {{ answer }}</p>
        <a href="/" class="volver">Volver</a>
    </div>


</body>
</html>
